
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #6e072d;
  color: white;
  font-size: 18px;
  width: 100%;
}

.navbar ul {
  display: flex;
}


  border-right: 2px solid white;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.nav-left .no-border-right {
  border-right: none;
}

.nav-right .no-border-left {
  border-left: none;
}

.navbar li:hover {
  background-color: #b90e4d;
  cursor: pointer;
}
